{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}


{{ define "content" -}}
<div id="posts">
    {{ range where .Data.Pages "Type" "posts" }}

  <article class="post">

    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <p class="post-time">          {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}</p>
    <div class="post-content">
       <p> {{ .Description | default .Summary }}</p>
      <a class="btn btn-default" href="{{.RelPermalink}}" id="read-more-button">
        Read more >
      </a>
    </div>

  </article>
  {{ end }}
</div>
{{- end }}

{{ define "footer" -}}
{{- end }}