body {
    /* font-family: , Monospace, 'Courier New'; */
    /* Linux = DejaVu Sans Mono */
    /* MacOSX & Windows = Courier */
    /* font-family: 'Lucida Console', Monospace, 'Courier';
    font-size:1.1vw; */
    background: #e7e7e2;
}

div.wrapper {
    max-width: 89%;
    background: #F5F5F0;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

a {
    color: black;
    font-weight: bold;
}

p {
    margin-top: 0px;
    margin-bottom: 4ch;
    text-align: justify;
}

sup {
    vertical-align: 0.3em;
    font-size: 0.65em;
}

pre {
    /* font-family: Consolas, Monospace, Courier; */
    /* Linux = DejaVu Sans Mono */
    /* MacOSX & Windows = Courier */

    /* font-size: 16px; */
    font-family: 'Lucida Console', Monospace, 'Courier';
    font-size:1.1vw;
    background-color: white;
    border: 1px solid Black;
    padding-left: 2%;
    padding-top: 1ch;
    padding-bottom: 1ch;
    overflow: scroll;
}

div.heading {
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    text-decoration: none;
}

/* font-family: 'Lucida Console', Monospace, 'Courier';
font-size:1.1vw; */



blockquote {
    background-color: #f3f3f3;
    border: dashed 1px grey;
    width: 97.5%;
    font-style: italic;
    text-align: justify;
    padding: 1ch;
    padding-top: 2ch;
    padding-bottom: 2ch;
    margin: 0ch;
    margin-bottom: 2ch;
    margin-top: 0ch;
}

blockquote div {
    text-transform: none;
    text-align: right;
    width: 100%;
}

img.pixel, canvas.pixel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

img {
    border: none;
    max-width: 100%;
}

img.site-logo {
    width: 2.1%;
    vertical-align: middle;
}

/* these img src blocks are for center/float left/right 
http://www.ebadf.net/2016/10/19/centering-images-in-hugo/
*/

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}

img[src$='#floatleft'] {
    float: left;
    margin: 0.7rem;
    max-width: 20%;
}

img[src$='#floatright'] {
    float: right;
    margin: 0.7rem;
    max-width: 20%;
}