<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel=“preload” href=“/fonts/jetbrainsmono.ttf” as=“font”>
  <link rel="preload" href="/css/styles.css" as="style">
  <link href="/css/jetbrains-mono-500.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <title>{{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}</title>
</head>

<body>

  <div class="wrapper">
    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}
  </div>
  {{ block "footer" . }}
  {{ end }}
</body>

{{ partial "plugin.html" .}}

</html>